*{
    margin:0;
    padding:0;
    font-size: 18px;
}
#container{
    width:100%;
    margin:0 auto;
}
#header{
    display: flex;
    margin-top:20px ;
}

#menu{
	clear:both;
 background-color: #EEEEEE;
  height:40px;
}
#menu ul li {
	list-style: none;
	float:left;
	margin-left: 60px;
	margin-top:8px;
}
#menu ul li a{
	text-decoration: none;
   
}
 #menu ul li span{
 	color:#1f60a1;
 }
 #menu ul li span:hover{
    color:#FF9900;
 }
 #menu ul li span:hover{
   text-decoration: underline;
} 
.footer{
    clear: both;
    padding: auto;
    width: 100%;
    margin:20px;
}
.footer h3{
    color: #FF9900;
    border-bottom:2px solid #FF9900;
}

#top-footer ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    margin: 30px 30px 30px 60px;
}
#bot-footer ul li{
    float: left;
    text-decoration: underline;
    list-style: none;
    margin:30px 30px 30px 50px;
}
#header a{
    text-decoration: none;
    ;
}
