*{
    margin:0;
    padding:0;
    font-size: 18px;
}
#container{
    width:100%;
    margin:0 auto;
}
#header{
    display: flex;
    margin-top:20px ;
}

#dangnhap{
    margin-top: 10px;
}
#gio{
    margin-left: 40px;
}
#gio1{
    margin-right: 40px;
}
#dangnhap a{
    text-decoration: none;
}
#menu{
	clear:both;
 background-color: #EEEEEE;
  height:40px;
}
#menu ul li {
	list-style: none;
	float:left;
	margin-left: 60px;
	margin-top:8px;
}
#menu ul li a{
	text-decoration: none;
    margin-left: 110px;
}
#menu ul li span{
 	color:#1f60a1;
 }
#menu ul li span:hover{
    color:#FF9900;
 }
#menu ul li span:hover{
   text-decoration: underline;
}
#dathang{
    margin-top:100px;
}